/*HEADER-CUIDADOS*/

.cuidadosheader__img{
    display: flex;
    height: 90vh;
    background-color: #ffffff;
    margin-top: 75px;
    justify-content: end;

        img{
            border-radius: 140px 0px 0px 140px;
        }
}

.cuidadosheader__titulo{
    display: flex;
    align-items: end;
    margin-left: 15px;

        h1{
            position: absolute;
            color: #000000;
            font-size: 58px;
            font-family: 'The Nautigal', cursive;
            text-align: center;
            border-bottom: 2px solid #000000;
        }
}

/*-------------------------------------------------------*/
/*MAIN-CUIDADOS*/ 

.cuidadossection__article{
    display: flex;
    justify-content: center;
}

.cuidadossection__titulopag{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(175, 13, 13);
    display: flex;
    margin-top: 30px;
    border-bottom: 2px solid black;
}

.listacuidados__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.listacuidados__ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    margin-top: 50px;
}

.listacuidados__items{
    display: block;
    margin: 50px;
    width: 30%;
    text-align: center;
    align-items: center;
}

.liscacuidados__img{
    width: 70px;
    height: 70px;
    box-shadow: 2px 2px 7px #000000;
    border-radius: 22px;
    margin: 10px;
}

.listacuidados__titulo{
    font-family: 'Smooch Sans', sans-serif;
    color: rgb(175, 13, 13);
    font-size: 28px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    font-weight: bold
}

.listacuidados__texto{
    font-family: 'Smooch Sans', sans-serif;
    color: #000000;
    font-size: 27px;
    text-align: justify;
    font-weight: bold;
}

/*---------------------------------------------------------*/

.preguntas__cajatitulo{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.preguntas__titulo{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(175, 13, 13);
    display: flex;
    margin-top: 30px;
    border-bottom: 2px solid black;
}

.articulo__preguntas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

        div{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 30px;
            width: 35%;
            align-content: start;
            justify-content: center;
        }
}

.preguntas__titulopreg{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(175, 13, 13);
    display: flex;
    border-bottom: 2px solid black;
}

.preguntas__parrafo{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 23px;
    color: #000000;
    display: flex;
    text-align: justify;
}

/*----------------------------------------------------------*/
/*FOOTER-CUIDADOS*/

#footer-cuidados{
        display: flex;
        width: 100%;  
        justify-content: space-around;
        background-color: #000000;
        object-fit: cover;
        margin-top: 40px;
        opacity: 90%;
    }