$estilos: (
    bg-color: #000000,
    texto-color: #000000,
    texto-color2: #ffffff,
    t-fuente: 20px,
    tipografia: 'Smooch Sans',
    subrayado-negro: 2px solid #000000,
    subrayado-blanco: 2px solid #ffffff,
);
